* {
    font-family: Cambria;
}

header, footer {
    background: #829EB9;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.lewy, .prawy {
    background: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}

.srodkowy {
    background: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}

table {
    border: 1px solid dimgray;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

td,th {
    border: 1px solid dimgray;
    border-collapse: collapse;
}

td:hover {
    background: SteelBlue;
    color: white;
}

img {
    width: 100%;
    border-radius: 20px;
}

footer {
    clear: both;
}

/* Jeśli zdjęcie (obraz.png) nie jest odpowiednio dopasowane do prawego elementu (diva), wynika to z rozdzielczości HD. */
/* Zmniejsz okno przeglądarki - powinno się ustawić. */
/* Taki drobny mankament po stronie CKE… */
/* Dziękuję za uwagę. :) */